@page "/user"
@page "/user/{Id}"
@using AppiSimo.Shared.Model
@inherits UserDetailDetailComponent

<div class="d-flex mt-4">
    <h1 class="my-0">@(ViewModel.User.Id == Guid.Empty ? "Nuovo Utente" : "Modifica Utente")</h1>
</div>

<form class="mt-4 mb-5">

    <div class="card">
        <div class="card-body pt-0">

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Nome</div>
                </div>
                <input type="text" class="form-control" id="user-detail-name" placeholder="Nome" bind="@ViewModel.GivenName"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Cognome</div>
                </div>
                <input type="text" class="form-control" id="user-detail-surname" placeholder="Cognome" bind="@ViewModel.FamilyName"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Sesso</div>
                </div>
                <select class="form-control" bind="@ViewModel.Gender">
                    <option value="@Genders.Female">Donna</option>
                    <option value="@Genders.Male">Uomo</option>
                </select>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Data di Nascita</div>
                </div>
                <input type="text" class="form-control" id="user-detail-birthday" placeholder="gg/mm/aaaa" bind="@ViewModel.Birthdate"/>
            </div>
            
            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Indirizzo</div>
                </div>
                <input type="text" class="form-control" id="user-detail-address" placeholder="Inteno 4 Piano 2, Via Tennis 1, 33050 Cervignano (UD), Italia" bind="@ViewModel.Address"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">E-Mail</div>
                </div>
                <input type="text" class="form-control" id="user-detail-email" placeholder="riverATriversportingclub.tennis" bind="@ViewModel.Email"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Telefono</div>
                </div>
                <input type="text" class="form-control" id="user-detail-phoneNumber" placeholder="+391234567890" bind="@ViewModel.PhoneNumber"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Tessera FIT</div>
                </div>
                <input type="text" class="form-control" id="user-detail-cardNumber" placeholder="Tessera FIT" bind="@ViewModel.FitCard"/>
            </div>

            <div class="input-group d-flex">
                <button type="button" class="btn btn-outline-success mr-2 flex-fill" onclick="@(async () => await Save())">Salva</button>

                @if (Entity.Id != Guid.Empty)
                {
                    @if (!Entity.Enabled)
                     {
                         <button type="button" class="btn btn-outline-info ml-2 flex-fill" onclick="@(async () => await SwitchStatus())">Abilita</button>
                     }
                     else
                     {
                         <button type="button" class="btn btn-outline-warning flex-fill" onclick="@(async () => await SwitchStatus())">Disabilita</button>
                     }

                    <button type="button" class="btn btn-outline-danger ml-2 flex-fill" onclick="@(async () => await PasswordReset())">Reset Password</button>
                }
            </div>
        </div>
    </div>
</form>