@page "/user"
@page "/user/{Id}"
@using System.Web
@inherits UserDetailDetailComponent

<div class="d-flex mt-4">
    <h1 class="my-0">@(Entity.Id == Guid.Empty ? "Nuovo Utente" : "Modifica Utente")</h1>
</div>

<form class="mt-4 mb-5">

    <div class="card">
        <div class="card-body pt-0">

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Nome</div>
                </div>
                <input type="text" class="form-control" id="user-detail-name" placeholder="Nome" bind="@Entity.Name"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Cognome</div>
                </div>
                <input type="text" class="form-control" id="user-detail-surname" placeholder="Cognome" bind="@Entity.Surname"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Data di Nascita</div>
                </div>
                <input type="text" class="form-control" id="user-detail-birthday" placeholder="gg/mm/aaaa" bind="@Birthday"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Indirizzo</div>
                </div>
                <input type="text" class="form-control" id="user-detail-address1" placeholder="Indirizzo e numero, piano, interno, etc." bind="@Entity.Address.Street"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">C.A.P.</div>
                </div>
                <input type="text" class="form-control" id="user-detail-zip" placeholder="C.A.P." bind="@Entity.Address.Zip"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Citt&agrave</div>
                </div>
                <input type="text" class="form-control" id="user-detail-city" placeholder="@HttpUtility.HtmlDecode("Citt&agrave;")" bind="@Entity.Address.City"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">E-Mail</div>
                </div>
                <input type="text" class="form-control" id="user-detail-email" placeholder="E-Mail" bind="@Entity.Email"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Telefono</div>
                </div>
                <input type="text" class="form-control" id="user-detail-phoneNumber" placeholder="Telefono, cellulare" bind="@Entity.PhoneNumber"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Tessera FIT</div>
                </div>
                <input type="text" class="form-control" id="user-detail-cardNumber" placeholder="Tessera FIT" bind="@Entity.Fit.CardNumber"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Username</div>
                </div>
                <input type="text" class="form-control" id="user-detail-userName" placeholder="Username" bind="@Entity.Username"/>
            </div>

            <div class="input-group d-flex">
                <button type="button" class="btn btn-outline-success mr-2 flex-fill" onclick="@(async () => await Save())">Salva</button>

                @if (Entity.Id != Guid.Empty)
                {
                    @if (!Entity.Enabled)
                     {
                         <button type="button" class="btn btn-outline-info ml-2 flex-fill" onclick="@(async () => await SwitchStatus())">Abilita</button>
                     }
                     else
                     {
                         <button type="button" class="btn btn-outline-warning flex-fill" onclick="@(async () => await SwitchStatus())">Disabilita</button>
                     }

                    <button type="button" class="btn btn-outline-danger ml-2 flex-fill" onclick="@(async () => await PasswordReset())">Reset Password</button>
                }
            </div>
        </div>
    </div>
</form>