@page "/event"
@page "/event/{Id}"

@inherits EventDetailComponent

<form class="my-4">
    <div class="form-group">
        <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Utenti</span>
            </div>
            <input class="form-control" bind="@Filter" placeholder="Cerca..."/>
        </div>
        <ul class="overflow-auto list-group list-group-flush" style="max-height: 300px">

            @foreach (var userEvent in ViewModel.FilteredUserEvents.Where(userEvent => userEvent.User.Name.ToUpper().Contains(Filter.Trim().ToUpper())).OrderBy(u => u.User.Name))
            {
                <li class="list-group-item user-add-li" onclick="@(() => AddUser(userEvent))">
                    <span class="font-weight-bold text-secondary">@userEvent.User.Name @userEvent.User.Surname</span><span class="oi oi-plus float-right" data-toggle="tooltip" aria-hidden="true"></span>
                </li>
            }

        </ul>
    </div>

    <div class="form-group">
        <label class="control-label font-weight-bold">Utenti Selezionati</label>
        <ul class="list-group list-group-flush">

            @foreach (var userEvent in ViewModel.SelectedUserEvents.OrderBy(ue => ue.User.Name))
            {
                <li class="list-group-item user-remove-li">
                    <div class="container">
                        <div class="row align-middle align-items-center">
                            <div class="col-1" onclick="@(() => ViewModel.SwitchPayment(userEvent.UserId))">
                                <input type="checkbox" class="form-check-input" bind="@userEvent.Paid"/>
                            </div>
                            <div class="col-6" onclick="@(() => RemoveUser(userEvent))">
                                <span font-weight-bold text-secondary>@userEvent.User.Name&nbsp;@userEvent.User.Surname</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input class="form-control" bind="@userEvent.FormattedCost"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">&euro;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1" onclick="@(() => RemoveUser(userEvent))">
                                <span class="oi oi-minus" data-toggle="tooltip" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>

    <div class="form-group">
        <label for="event-detail-startdate" class="control-label font-weight-bold">Data Inizio</label>
        <input id="event-detail-startdate" class="form-control text-secondary" bind="@ViewModel.SelectedStartDate" placeholder="gg/mm/aaaa hh:mm"/>
        <ul>
            @if (!ViewModel.IsValidStarDate)
            {
                <li class="text-danger">Il formato della data non &egrave; corretto</li>
            }
            else if (ViewModel.State.Properties.ContainsKey("StartDate"))
            {
                foreach (var error in ViewModel.State.Properties["StartDate"].Errors)
                {
                    <li class="text-danger">@error</li>
                }
            }
        </ul>
    </div>

    <div class="form-group">
        <label for="event-detail-enddate" class="control-label font-weight-bold">Data Fine</label>
        <input id="event-detail-enddate" class="form-control" bind="@ViewModel.SelectedEndDate" placeholder="gg/mm/aaaa hh:mm"/>
        <ul>
            @if (!ViewModel.IsValidEndDate)
            {
                <li class="text-danger">Il formato della data non &egrave; corretto</li>
            }
            else if (ViewModel.State.Properties.ContainsKey("EndDate"))
            {
                foreach (var error in ViewModel.State.Properties["EndDate"].Errors)
                {
                    <li class="text-danger">@error</li>
                }
            }
        </ul>
    </div>

    <div class="form-group">
        <label for="event-detail-court" class="control-label font-weight-bold">Campo</label>
        <select class="form-control" id="event-detail-court" bind="@ViewModel.SelectedCourt">

            @* TODO: ISSUE https://github.com/aspnet/AspNetCore/issues/5616*@
            @foreach (var court in ViewModel.Courts.OrderBy(c => c.Name))
            {
                if (ViewModel.SelectedCourt == court.Id.ToString())
                {
                    <option selected value="@court.Id">@court.Name</option>

                    continue;
                }

                <option value="@court.Id">@court.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="event-detail-light" class="control-label font-weight-bold">Luce</label>
        <select class="form-control" id="event-detail-light" bind="@ViewModel.SelectedLight">

            <option value="">No Luce</option>

            @if (ViewModel.SelectedLight != null)
            {
                <option selected value="@ViewModel.SelectedCourtLight.Id">@ViewModel.SelectedCourtLight.LightType</option>
            }
            else
            {
                <option value="@ViewModel.SelectedCourtLight.Id">@ViewModel.SelectedCourtLight.LightType</option>
            }

        </select>
    </div>

    @if (ViewModel.SelectedLight != null)
    {
        <div class="form-group">
            <label for="event-detail-light-duration" class="control-label font-weight-bold">Durata Luce</label>
            <input id="event-detail-light-duration" class="form-control" bind="@ViewModel.SelectedLightDuration"/>
        </div>
    }

    <div class="form-group">
        <label for="event-detail-heat" class="control-label font-weight-bold">Riscaldamento</label>
        <select class="form-control" id="event-detail-heat" bind="@ViewModel.SelectedHeat">

            <option value="">No Riscaldamento</option>

            @if (ViewModel.SelectedHeat != null)
            {
                <option selected value="@ViewModel.SelectedCourtHeat.Id">@ViewModel.SelectedCourtHeat.HeatType</option>
            }
            else
            {
                <option value="@ViewModel.SelectedCourtHeat.Id">@ViewModel.SelectedCourtHeat.HeatType</option>
            }

        </select>
    </div>

    @if (ViewModel.SelectedHeat != null)
    {
        <div class="form-group">
            <label for="event-detail-heat-duration" class="control-label font-weight-bold text-secondary">Durata Riscaldamento</label>
            <input id="event-detail-heat-duration" class="form-control" bind="@ViewModel.SelectedHeatDuration"/>
        </div>
    }

    <div class="form-group d-flex">
        <button type="button" class="btn btn-outline-success mr-2 flex-fill" onclick="@(async () => await Save())">Salva</button>
        <button type="button" class="btn btn-outline-danger ml-2 flex-fill" style="display: @(ViewModel.IsNewEntity() ? "none" : "inline-block;");" onclick="@(async () => await Delete())">Cancella</button>
    </div>
</form>