@page "/events"

@inherits EventsComponent

<br/>

<div class="row">
    <SearcherView SearcherService="@SearcherService"/>
</div>

<div class="row">
    <a class="btn btn-block btn-outline-primary" href="/event">Nuovo</a>
</div>

@foreach (var e in Entities)
{
    <div class="row card text-center mt-2">
        <div class="card-header">
            <span class="text-left">@(e.Court?.Name)</span>
            <span class="text-right">

                @if (e.HeatId != null)
                {
                    <span class="oi oi-fire"></span>
                }

                @if (e.LightId != null)
                {
                    <span class="oi oi-lightbulb"></span>
                }

            </span>

            <div class="card-body text-justify">

                <h5 class="card-title">Resoconto</h5>

                <div class="col">
                    <p class="card-text">Data: @e.StartDate.ToString("D")</p>
                    <p class="card-text">Ora Inizio: @e.StartDate.ToString("HH:mm")</p>
                    <p class="card-text">Ora Fine: @e.EndDate.ToString("HH:mm")</p>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-block btn-outline-dark" href=@($"/event/{e.Id}")>Modifica</a>
                <a class="btn btn-block btn-outline-danger">Elimina</a>
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <PagerView PagerService="@PagerService" TotalItems="@TotalItems"/>
</div>