@page "/events"
@inherits EventsComponent

<br/>

<div class="row">
    <SearcherView SearcherService="@SearcherService"/>
</div>

<div class="row">
    <a class="btn btn-block btn-outline-primary" href="/event">Nuovo</a>    
</div>


<div class="row">

    @foreach (var @event in Entities)
    {
        <div class="card text-center">
            <div class="card-header">
                <span class="text-left">Campo: @(@event.Court.Name)</span>
                <span class="text-right">

                    @if (@event.Heat)
                    {
                        <span class="oi oi-fire"></span>
                    }

                    @if (@event.Light)
                    {
                        <span class="oi oi-lightbulb"></span>
                    }

                </span>

                <div class="card-body text-justify">

                    <h5 class="card-title">Resoconto</h5>

                    <div class="col">
                        <p class="card-text">Data: @(@event.StartDate.ToString("D"))</p>
                        <p class="card-text">Ora Inizio: @(@event.StartDate.ToString("HH:mm"))</p>
                        <p class="card-text">Ora Fine: @(@event.EndDate.ToString("HH:mm"))</p>
                    </div>

                    <div class="col">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-block btn-outline-dark" href=@($"/event/{@event.Id}")>Modifica</a>
                    <a class="btn btn-block btn-outline-danger">Elimina</a>
                </div>
            </div>
            }
        </div>
    }
    
</div>

<div class="row">
    <PagerView PagerService="@PagerService" TotalItems="@TotalItems"/>
</div>